---
- name: Get fish Path
  ansible.builtin.shell: which fish
  register: which_fish

- name: Save fish path to variable
  ansible.builtin.set_fact:
    fish_path: "{{ which_fish.stdout }}"

- name: Add fish to /etc/shells
  become: true
  ansible.builtin.lineinfile:
    path: /etc/shells
    state: present
    line: "{{ fish_path }}"

- name: Change Shell to fish
  user:
    name: "{{ ansible_user }}"
    shell: "{{ fish_path }}"

- name: Install Fisher
  ansible.builtin.shell: fish --command "curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher"
